<br>
<br>
<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs bordered">
            <li class="active">
                <a href="#bash" data-toggle="tab">
                    <i class="fa fa-cog"></i>
                    Bash Script
                </a>
            </li>
            <li>
                <a href="#tabular" data-toggle="tab">
                    <i class="fa fa-table"></i>
                    Tabular View
                </a>
            </li>
            <li>
                <a href="#ie" data-toggle="tab">
                    <i class="fa fa-exchange"></i>
                    Import/Export Project
                </a>
            </li>
        </ul>
        <!-- / Nav tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- BASH SCRIPT -->
            <div class="tab-pane in active" id="bash">
                <div class="row">
                    <div class="col-md-12">
                        <div id="bash-buttons" class="text-center">
                            <button id="btnCopy" class="btn btn-primary clipboard-btn"
                                data-clipboard-target="#bash-script">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                Copy to clipboard
                            </button>

                            <button class="btn btn-success" (click)="downloadBash()">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download the script
                            </button>
                        </div>
                        <pre><code id="bash-script" style="white-space: pre;">{{ bash_script }}</code></pre>
                    </div>
                </div>
            </div>
            <!-- / BASH SCRIPT -->

            <!-- TABULAR DISPLAY -->
            <div class="tab-pane fade" id="tabular">
                <p class="text-muted text-center">Each value represents the number of links between the nodes.</p>
                <p class="text-center">
                    <a id="csv-button" type="button" class="btn btn-info" (click)="exportTableToCSV($event)">
                        <i class="fa fa-fw fa-file-excel-o"></i>
                        Expot to CSV
                    </a>
                </p>
                <div class="table-responsive text-center">
                    <table class="table table-bordered" id="tabela">
                        <thead>
                            <tr>
                                <th> </th>
                                <th *ngFor="let col_name of table_headings">{{ col_name }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let t_row of table_data | keyvalue:switchBeforeHost">
                                <th scope="row" class="tr-head">{{ t_row.key }}</th>
                                <td *ngFor="let data of t_row.value">{{ data }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- http://stackoverflow.com/questions/16078544/export-to-csv-using-jquery-and-html -->
            <!-- / TABULAR DISPLAY -->

            <!-- IMPORT/EXPORT PROJECT -->
            <div class="tab-pane fade" id="ie">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            Projects are exported as JSON files.
                        </p>

                        <p class="text-center">
                            <button type="button" class="btn btn-danger" (click)="exportProject()">
                                <i class="fa fa-fw fa-download"></i>
                                Export Project
                            </button>

                            <label class="btn btn-warning">
                                <i class="fa fa-fw fa-upload"></i>
                                Import Project
                                <input class="hidden" type="file" id="project-file" (change)="importProject($event)"
                                    accept=".json">
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <!-- / IMPORT/EXPORT PROJECT -->
        </div>
        <!-- / Tab panes -->
    </div>
    <!-- / .col-md-12 -->
</div>
<!-- / .row -->